<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <div class="header">
                    <div class="row">
                        <div class="col-sm-4">
                            <a *ngIf="authManager.isAdmin" class="btn btn-warning" [routerLink]="['add']">Add</a>
                        </div>
                        <div class="col-sm-8">
                            <h4 style="padding-top: 8px;">Students</h4>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Year</th>
                            <th>Course</th>
                            <th *ngIf="authManager.isAdmin">Edit</th>
                            <th *ngIf="authManager.isAdmin">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of students; let i=index">
                            <th>{{i+1}}</th>
                            <td>{{student.studentid}}</td>
                            <td>{{student.first_name}} {{student.last_name}}</td>
                            <td>{{student.year}}</td>
                            <td>{{student.course?.name}}</td>
                            <th *ngIf="authManager.isAdmin">
                                <button class="btn btn-success" [routerLink]="['edit', student._id]">Edit</button>
                            </th>
                            <th *ngIf="authManager.isAdmin">
                                <button class="btn btn-danger" (click)="open(content, student, i)">Delete</button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Student {{selectedStudent.first_name}} {{selectedStudent.last_name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure to delete?</p>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
            </div>
        </div>
    </div>
</ng-template>